.topbar-appBar{
  height: 60;
  justify-content: "center";
  width: 100%;
}

.topbar-toolbar{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  width: 100%;
  box-sizing: border-box; /*important!!*/
}