body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}

header {
  background: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: black;
  font-size: 20px;
}

a {
  color: #ffcc00;
  text-decoration: none;
  margin-left: 1rem;
}

main {
  padding: 1rem;
}

.search {
  margin-bottom: 2rem;
}

#searchInput {
  padding: 0.5rem;
  width: 250px;
}

#searchBtn {
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.movie-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 0.5rem;
  display: flex;              /* flex layout */
  align-items: flex-start;
  gap: 1rem;                  /* space between image and content */
}

.movie-card img {
  width: 100px;
  border-radius: 4px;
  flex-shrink: 0;             /* keep image fixed size */

}

.movie-info {
  flex: 1;                    /* content grows to fill space */
  min-width: 0;               /* allow shrinking */

}

.movie-info h5 {
  margin: 0.2rem 0;
}

.movie-info p, label {
  margin: 0.2rem 0;
  font-size: 12px;
}

button.add-btn, button.rem-btn{
  background: #ffcc00;
  border: none;
  padding: 0rem 0.2rem;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 0.5rem;
  font-size: 14px;
}


